[PROVISIONER]
LOGLEVEL=debug


[PVE]
PVE_HOST=XXX.XXX.XXX.XXX
PVE_USER=root
PVE_NODE=pve
PVE_REALM=pam
PVE_PASS=XXXXXXXXXXXXXXXXXXXXXx
PVE_BACKEND=https
PVE_STORAGE_IMAGES=local
PVE_STORAGE_VMS=local-lvm
PVE_BRIDGE=vmbr0
PVE_TEMPLATE_ID=XXXX